@import "../variables.scss";

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  position: absolute;

  background: $backgroundOpacity;
}

.container svg {
  transform: none !important;
  cursor: wait;
}
